<p id="notice"><%= notice %></p>

<h1>Listing Projects</h1>

<%= link_to 'New Project', new_project_path %>


<div class="card-deck-wrapper">
  <div class="card-deck">
  <% @projects.each do |project| %>
    <div class="card">
      <img src="" alt="">
      <div class="card-block">
        <h4 class="card-title"><%= project.title %></h4>
        <p class="card-text"><%= project.description %></p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to 'Show', project %></li>
          <li class="list-group-item"><%= link_to 'Edit', edit_project_path(project) %></li>
          <li class="list-group-item"><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    </div>
  <% end %>
  </div>
</div>
